h1 {
    color: rgba(0,0,0,.5);
    font-family: 'Droid Serif', serif;
}

img {
    width: 25%;
}

body {
    background: url(../img/silver_scales.png);
}
 nav {
     list-style: none;
     text-decoration: none;
     display: inline-block;
 }
 
 a:link {
     color: coral;
 }
 
 a:hover {
     color: lightblue;
     border-left: coral;
     padding: 5px;
     transition: .5s;
 }
 
